<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <div class="card border-0" style="width: 18rem;">
        <div class="d-flex justify-content-center">
          <img src="https://cdn.pixabay.com/photo/2015/08/11/21/29/marilyn-monroe-885229_960_720.jpg" class="card-img-top rounded-circle w-75" alt="Foto do usuário">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Marlyn Monroe</h5>
          <p class="card-text text-center">Atriz</p>
          <a href="#" target="_blank" class="btn btn-outline-dark d-flex justify-content-center">Twitter</a>
          
          <hr class="mt-4 mb-4">
          <h6 class="mb-3 text-monospace text-center">Pesquisar por título</h6>
          <input type="text" class="form-control mb-3 w-100">
          <button class="btn btn-outline-warning w-100">Pesquisar</button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div>
        <h3 class="text-center mb-4 text-monospace">Digite abaixo os seus comentários:</h3>
        
        <div class="form-group">
          <label for="titulo" class="text-monospace">Título:</label>
          <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Digite o título da postagem">
        </div>
        <div class="form-group">
          <label for="titulo" class="text-monospace">Texto:</label>
          <textarea name="texto" id="texto" cols="30" rows="4" class="form-control mb-3" 
          placeholder="Digite a sua mensagem"></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-info w-25">Publicar</button>
        </div>

      </div>
      <hr class="mt-5 mb-5">

      <h3 class="text-center mb-5 text-monospace">Comentários adicionados</h3>
    </div>
  </div>
</div>