<div class="container mb-5">
  <h1 class="mt-5 mb-5">Entre em contato conosco</h1>
  <form>
    <div class="form-group mb-3">
      <label for="nome" class="form-label">Nome Completo</label>
      <input type="text" class="form-control" id="nome" placeholder="Digite seu nome">
    </div>
    <div class="form-group mb-3">
      <label for="email" class="form-label">Endereço de Email</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="form-group mb-3">
      <label for="mensagem" class="form-label">Mensagem</label>
      <textarea class="form-control" id="mensagem" rows="3"></textarea>
    </div>
    <button class="btn btn-outline-dark">Enviar</button>
  </form>
</div>